* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'poppins', sans-serif;
}

body {
    color: #ededed;
    background: #0A1D29;
    background-size: cover;

}

.header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 20px 40px;
    background: transparent;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 100;
}

.logo {
    position: relative;
    font-size: 25px;
    color: #fff;
    text-decoration: none;
    font-weight: 600;
}

.navbar a {
    display: inline-block;
    font-size: 25px;
    color: #fff;
    text-decoration: none;
    font-weight: 500;
    margin-left: 35px;
    transition: .3s;
    cursor: pointer;
}

.navbar a:hover {
    color: #0ef;
}

.home {
    position: relative;
    width: 100%;
    height: 100vh;
    background: #0A1D29;
    background-size: cover;
    display: flex;
    justify-content: space-between;   /* image right, text left */
    align-items: center;
    padding: 70px 10% 0;
}

.home-content {
    max-width: 600px;
}

.home-content h3 {
    font-size: 32px;
    font-weight: 700;
}
.home-content h2 {
    font-size: 56px;
    font-weight: 700;
    margin: -3px 0;
}
.home-content p {
    font-size: 18px;
    margin-top: 10px;
}
.home-sci{
      display: flex;     /* icons side-by-side */
      gap: 15px;         /* space between icons */
      margin-top: 10px;  /
}
.home-sci a{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
    background: transparent;
    border: 2px solid #0ef;
    border-radius: 50%;
}
.btn-box {
    display: inline-block;
    padding: 10px 30px;
    margin-top: 10px;
    background: #0ef;
    border-radius: 13px;
    font-size: 16px;
    color: #081b29;
    font-weight: 600;
    letter-spacing: 1px;
}


